.icon-xiazai1{
	font-size: 23px;
	vertical-align: -4px;
}
.icon-xiaomi{
	font-size: 32px;
}
.icon-sousuo{
	font-size: 20px;
	color: #616161;
}
.icon-jiantou{
	font-size: 14px;
	vertical-align: -1px;
	font-weight: 700;
	color: white;
	float: right;
}
.icon-zuojiantou{
	font-size: 30px;
	color: white;
	opacity: 0.7;
}
.icon-youjiantou{
	font-size: 30px;
	color: white;
	opacity: 0.7;
}
.icon-shouji901{
	font-size: 36px;
	font-weight: bold;
}
.icon-liwu{
	font-size: 36px;
	font-weight: bold;
}
.icon-SIMqiaguanli{
	font-size: 36px;
	font-weight: bold;
}
.icon-shoujirenzheng{
	font-size: 36px;
	font-weight: bold;
}
.icon-nianqiaxiaoshou{
	font-size: 36px;
	font-weight: bold;
}
.icon-yuan{
	font-size: 36px;
}
.icon-F{
	font-size: 18px;
	position: absolute;
	top: 27px;
	left: 20px;
	font-weight: bold;
}
.icon-jiantouzuo{
	font-size: 15px;
}
.icon-jiantouyou{
	font-size: 15px;
}
.icon-arrow-right{
	font-size: 20px;
	vertical-align: -2px;
	margin-left: 2px;
	color: #B0B0B0;
}
.icon-bofang1{
	color: #FFFFFF;
	line-height: 20px;
}
.icon-editor2{
	font-size: 28px;
	vertical-align: -2px;
	margin-right: 2px;	
}
.icon-7{
	font-size: 28px;
	margin-right: 2px;	
	vertical-align: -2px;
}
.icon-15tianwuliyoutuihuo{
	font-size: 28px;
	margin-right: 2px;	
	vertical-align: -2px;
}
.icon-youzhengwangdian{
	font-size: 28px;
	margin-right: 2px;
	vertical-align: -2px;	
}
.icon-xiaoxi{
	vertical-align: -2px;
}
.icon-copy{
	font-size: 48px;
}